.img-fluid-image-14 {
    width: 100%;
    height: 430px;
}

.img-fluid-image-Ellipse-7 {
    width: 44px;
    height: 44px;
}

.mb-3-img-fluid-image-14 {
    cursor: pointer;
}

.text-overlap-with-image-text {
    color: #FFFFFF !important;
}

.text-overlap-with-image {
    padding-left: 29px;
    padding-right: 47px;
    margin-top: -173px;
    cursor: pointer;
}

.text-overlap-with-image-sub-text {
    margin-left: -10px;
}

.text-overlap-with-image-sub-text-author {
    color: #FFFFFF;
}

.blogs-card-body {
    cursor: pointer;
}